* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 
html,
body{
  overflow: hidden;
} */



[data-cllipse="true"]{
  width: 5%;
  background-color: #ff5e3a;
}